@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css');


* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 50px 50px;
}

#plate {
    text-align: center;
}

.row#file {
    text-align: left;
}

svg {
    display: block;
    margin: auto;
}